@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
  font-size: 100%; /* 1rem = 10px */
}

/* Global atrr */
body {
    background-color: grey;
}

/* Global elements */
.ob-wid-95 {
    width: 95%;
}

.ob-wid-90 {
    width: 90%;
}

.ob-flex {
    display: flex;
}

.ob-flex-1 {
    flex: 1;
}

.ob-block {
    display: grid;
}

.ob-gap-sm {
    gap: 5px;
}

/* Global headings and paragrah */
.ob-text-xxxl {
    font-size: 2.25rem;
}

.ob-text-xxl {
    font-size: 1.875rem;
}

.ob-text-xl {
    font-size: 1.5rem;
}

.ob-text-lg {
    font-size: 1.25rem;
}

.ob-text-md {
    font-size: 0.875rem;
}

.ob-text-sm {
    font-size: 0.8125rem;
}

.ob-text-xxxl-resp {
    font-size: 2.25rem;
}

.ob-text-xxl-resp {
    font-size: 1.875rem;
}

.ob-text-xl-resp {
    font-size: 1.5rem;
}

.ob-text-lg-resp {
    font-size: 1.25rem;
}

.ob-text-md-resp {
    font-size: 0.875rem;
}

.ob-text-sm-resp {
    font-size: 0.8125rem;
}

.ob-font-500 {
    font-weight: 500;
}

.ob-font-600 {
    font-weight: 600;
}

.ob-font-700 {
    font-weight: 700;
}

.ob-font-800 {
    font-weight: 800;
}

/* Global font families */
.open-sans-ob {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oswald-ob {
     font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-ob {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Structure */
.oeme-container {
    height: 500px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
/* Spacy Nav */
.ob-nav-fixed {
    position: fixed;
    width: inherit;
}

.oeme-spacy-nav {
    
}

.ob-spacy-nav {
    display: flex;
}

.spacy-nav-lft {
    display: flex;
    justify-content: flex-start;
    background-color: blue;
    padding: 50px 10px 0px 0px;
}

.spacy-nav-mid {
    display: flex;
    justify-content: center;
    background-color: rgb(69, 69, 116);
    padding: 50px 10px 0px 10px;
}

.spacy-nav-rgt {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(73, 164, 79);
    padding: 50px 0px 0px 10px;
}

.spacy-nav-mid-resp {
    display: none;
    background-color: rgb(69, 69, 116);
    padding: 50px 10px 0px 10px;
}

/* Logo Group */
.ob-logo-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ob-logo-flex-base {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.ob-logo-block-center {
    display: grid;
    place-items: center;
}

.ob-logo-img-xxl {
    height: 48px;
}

.ob-logo-img-xl {
    height: 36px;
}

.ob-logo-img-lg {
    height: 24px;
}

.ob-logo-img-md {
    height: 18px;
}

.ob-logo-img-sm {
    height: 14px;
}

/* Helper Layout */
.do-not-copy-1 {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}